</html>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='/style.css') }}">
    <title>Futur Vision Transport</title>
</head>
<body>
    <header>
        <h1>Futur Vision Transport</h1>
    </header>
    <main>
        <input type="file" id="fileInput" accept="image/*">
        <button onclick="uploadAndProcess()" id="processBtn">Traitement</button>
        <div id="output"></div>
    </main>

    <script src="{{ url_for('static', path='/app.js') }}"></script>
</body>
</html>
